<% form_for @cell do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :positive_count %><br />
    <%= f.text_field :positive_count %>
  </p>
  <p>
    <%= f.label :negative_count %><br />
    <%= f.text_field :negative_count %>
  </p>
  <p>
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </p>
  <p>
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </p>
  <p>
    <%= f.label :z %><br />
    <%= f.text_field :z %>
  </p>
  <p>
    <%= f.label :parent_x %><br />
    <%= f.text_field :parent_x %>
  </p>
  <p>
    <%= f.label :parent_y %><br />
    <%= f.text_field :parent_y %>
  </p>
  <p>
    <%= f.label :parent_z %><br />
    <%= f.text_field :parent_z %>
  </p>
  <p><%= f.submit %></p>
<% end %>
