<% title "Cells" %>

<table>
  <tr>
    <th>Positive Count</th>
    <th>Negative Count</th>
    <th>X</th>
    <th>Y</th>
    <th>Z</th>
    <th>Parent X</th>
    <th>Parent Y</th>
    <th>Parent Z</th>
  </tr>
  <% for cell in @cells %>
    <tr>
      <td><%=h cell.positive_count %></td>
      <td><%=h cell.negative_count %></td>
      <td><%=h cell.x %></td>
      <td><%=h cell.y %></td>
      <td><%=h cell.z %></td>
      <td><%=h cell.parent_x %></td>
      <td><%=h cell.parent_y %></td>
      <td><%=h cell.parent_z %></td>
      <td><%= link_to "Show", cell %></td>
      <td><%= link_to "Edit", edit_cell_path(cell) %></td>
      <td><%= link_to "Destroy", cell, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Cell", new_cell_path %></p>
