<% title "Cell" %>

<p>
  <strong>Positive Count:</strong>
  <%=h @cell.positive_count %>
</p>
<p>
  <strong>Negative Count:</strong>
  <%=h @cell.negative_count %>
</p>
<p>
  <strong>X:</strong>
  <%=h @cell.x %>
</p>
<p>
  <strong>Y:</strong>
  <%=h @cell.y %>
</p>
<p>
  <strong>Z:</strong>
  <%=h @cell.z %>
</p>
<p>
  <strong>Parent X:</strong>
  <%=h @cell.parent_x %>
</p>
<p>
  <strong>Parent Y:</strong>
  <%=h @cell.parent_y %>
</p>
<p>
  <strong>Parent Z:</strong>
  <%=h @cell.parent_z %>
</p>

<p>
  <%= link_to "Edit", edit_cell_path(@cell) %> |
  <%= link_to "Destroy", @cell, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cells_path %>
</p>
